<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haihua.hhplms.ana.mapper.CompanyInfoMapper">
  <resultMap id="companyInfoMap" type="com.haihua.hhplms.ana.entity.CompanyInfo">
    <id column="sid" property="sid" />
    <result column="code" property="code" />
    <result column="name" property="name" />
    <result column="type" property="type" />
    <result column="address" property="address" />
    <result column="contact_name" property="contactName" />
    <result column="contact_mobile" property="contactMobile" />
    <result column="status" property="status" />
    <result column="created_by" property="createdBy" />
    <result column="created_time" property="createdTime" />
    <result column="updated_by" property="updatedBy" />
    <result column="updated_time" property="updatedTime" />
    <result column="version_num" property="versionNum" />
  </resultMap>

  <sql id="columnClause">
    sid, code, name, type, address, contact_name, contact_mobile, status, created_by, created_time, updated_by, updated_time, version_num
  </sql>

  <insert id="create" parameterType="com.haihua.hhplms.ana.entity.CompanyInfo" statementType="PREPARED" useGeneratedKeys="true" keyProperty="sid">
    insert into ana_company_info
    (code, name, type, address, contact_name, contact_mobile, status, created_by, created_time, version_num)
    values
    (#{code}, #{name}, #{type}, #{address}, #{contactName}, #{contactMobile}, #{status}, #{createdBy}, #{createdTime}, #{versionNum})
  </insert>

  <update id="updateByParams" parameterType="map" statementType="PREPARED">
    update ana_company_info
    <set>
      <if test="status != null">
        status = #{status},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime},
      </if>
      <if test="versionNum != null">
        version_num = #{versionNum} + 1
      </if>
    </set>
    <where>
      <if test="sid != null">
        sid = #{sid}
      </if>
      <if test="versionNum != null">
        and version_num = #{versionNum}
      </if>
    </where>
  </update>

  <update id="updateByExample" parameterType="com.haihua.hhplms.ana.entity.CompanyInfo" statementType="PREPARED">
    update ana_company_info
    <set>
      <if test="code != null">
        code = #{code},
      </if>
      <if test="name != null">
        name = #{name},
      </if>
      <if test="type != null">
        type = #{type},
      </if>
      <if test="address != null">
        address = #{address},
      </if>
      <if test="contactName != null">
        contact_name = #{contactName},
      </if>
      <if test="contactMobile != null">
        contact_mobile = #{contactMobile},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime},
      </if>
      <if test="versionNum != null">
        version_num = #{versionNum} + 1
      </if>
    </set>
    <where>
      <if test="sid != null">
        sid = #{sid}
      </if>
      <if test="versionNum != null">
        and version_num = #{versionNum}
      </if>
    </where>
  </update>

  <delete id="deleteByParams" parameterType="map" statementType="PREPARED">
    delete from ana_company_info
    <where>
      <if test="sid != null">
        sid = #{sid}
      </if>
      <if test="code != null">
        and code = #{code}
      </if>
    </where>
  </delete>

  <select id="countByParams" resultType="int" parameterType="map" statementType="PREPARED">
    select count(1)
    from ana_company_info
    <where>
      <if test="sid != null">
        sid = #{sid}
      </if>
      <if test="code != null">
        and code = #{code}
      </if>
      <if test="type != null">
        and type = #{type}
      </if>
      <if test="contactNameLike != null">
        and contact_name like concat(#{contactNameLike},'%')
      </if>
      <if test="contactMobileLike != null">
        and contact_mobile like concat(#{contactMobileLike},'%')
      </if>
      <if test="status != null">
        and status = #{status}
      </if>
    </where>
  </select>

  <select id="findByParams" resultMap="companyInfoMap" parameterType="map" statementType="PREPARED">
    select <include refid="columnClause" />
    from ana_company_info
    <where>
      <if test="sid != null">
        sid = #{sid}
      </if>
      <if test="code != null">
        and code = #{code}
      </if>
      <if test="type != null">
        and type = #{type}
      </if>
      <if test="contactNameLike != null">
        and contact_name like concat(#{contactNameLike},'%')
      </if>
      <if test="contactMobileLike != null">
        and contact_mobile like concat(#{contactMobileLike},'%')
      </if>
      <if test="status != null">
        and status = #{status}
      </if>
    </where>
    <if test="limit != null and offset != null">
      limit #{offset}, #{limit}
    </if>
  </select>
</mapper>