<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haihua.hhplms.ana.mapper.RoleMapper">
  <resultMap id="roleMap" type="com.haihua.hhplms.ana.entity.Role">
    <id column="sid" property="sid" />
    <result column="code" property="code" />
    <result column="name" property="name" />
    <result column="category" property="category" />
    <result column="type" property="type" />
    <result column="company_info_sid" property="companyInfoSid" />
    <result column="status" property="status" />
    <result column="memo" property="memo" />
    <result column="created_by" property="createdBy" />
    <result column="created_time" property="createdTime" />
    <result column="updated_by" property="updatedBy" />
    <result column="updated_time" property="updatedTime" />
    <result column="version_num" property="versionNum" />
  </resultMap>

  <sql id="columnClause">
    sid, code, name, category, type, company_info_sid, status, memo, created_by, created_time, updated_by, updated_time, version_num
  </sql>

  <insert id="create" parameterType="com.haihua.hhplms.ana.entity.Role" statementType="PREPARED" useGeneratedKeys="true" keyProperty="sid">
    insert into ana_role
    (code, name, category, type, company_info_sid, status, memo, created_by, created_time, version_num)
    values
    (#{code}, #{name}, #{category}, #{type}, #{companyInfoSid}, #{status}, #{memo}, #{createdBy}, #{createdTime}, #{versionNum})
  </insert>

  <update id="updateByParams" parameterType="map" statementType="PREPARED">
    update ana_role
    <set>
      <if test="status != null">
        status = #{status},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime},
      </if>
      <if test="versionNum != null">
        version_num = #{versionNum} + 1
      </if>
    </set>
    <where>
      <if test="sid != null">
        sid = #{sid}
      </if>
      <if test="versionNum != null">
        and version_num = #{versionNum}
      </if>
    </where>
  </update>

  <update id="updateByExample" parameterType="com.haihua.hhplms.ana.entity.Role" statementType="PREPARED">
    update ana_role
    <set>
      <if test="code != null">
        code = #{code},
      </if>
      <if test="name != null">
        name = #{name},
      </if>
      <if test="category != null">
        category = #{category},
      </if>
      <if test="type != null">
        type = #{type},
      </if>
      <if test="companyInfoSid != null">
        company_info_sid = #{companyInfoSid},
      </if>
      <if test="memo != null">
        memo = #{memo},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime},
      </if>
      <if test="versionNum != null">
        version_num = #{versionNum} + 1
      </if>
    </set>
    <where>
      <if test="sid != null">
        sid = #{sid}
      </if>
      <if test="versionNum != null">
        and version_num = #{versionNum}
      </if>
    </where>
  </update>

  <delete id="deleteByParams" parameterType="map" statementType="PREPARED">
    delete from ana_role
    <where>
      <if test="sid != null">
        sid = #{sid}
      </if>
    </where>
  </delete>

  <select id="countByParams" resultType="int" parameterType="map" statementType="PREPARED">
    select count(1)
    from ana_role
    <where>
      <if test="sid != null">
        sid = #{sid}
      </if>
      <if test="category != null">
        and category = #{category}
      </if>
      <if test="type != null">
        and type = #{type}
      </if>
      <if test="companyInfoSid != null">
        and company_info_sid = #{companyInfoSid}
      </if>
      <if test="status != null">
        and status = #{status}
      </if>
      <if test="code != null">
        and code = #{code}
      </if>
      <if test="codeLike != null">
        and code like concat(concat('%',#{codeLike}),'%')
      </if>
      <if test="nameLike != null">
        and name like concat(concat('%',#{nameLike}),'%')
      </if>
      <if test="searchingSids != null and searchingSids.size > 0">
        and sid in
        (<foreach collection="searchingSids" item="searchingSid" separator="," open="" close="">
        #{searchingSid, jdbcType=BIGINT}
      </foreach>)
      </if>
    </where>
  </select>

  <select id="findByParams" resultMap="roleMap" parameterType="map" statementType="PREPARED">
    select <include refid="columnClause" />
    from ana_role
    <where>
      <if test="sid != null">
        sid = #{sid}
      </if>
      <if test="category != null">
        and category = #{category}
      </if>
      <if test="type != null">
        and type = #{type}
      </if>
      <if test="companyInfoSid != null">
        and company_info_sid = #{companyInfoSid}
      </if>
      <if test="status != null">
        and status = #{status}
      </if>
      <if test="code != null">
        and code = #{code}
      </if>
      <if test="codeLike != null">
        and code like concat(concat('%',#{codeLike}),'%')
      </if>
      <if test="nameLike != null">
        and name like concat(concat('%',#{nameLike}),'%')
      </if>
      <if test="searchingSids != null and searchingSids.size > 0">
        and sid in
        (<foreach collection="searchingSids" item="searchingSid" separator="," open="" close="">
        #{searchingSid, jdbcType=BIGINT}
      </foreach>)
      </if>
    </where>
    <if test="limit != null and offset != null">
      limit #{offset}, #{limit}
    </if>
  </select>
</mapper>