<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haihua.hhplms.ana.mapper.TemplateRolePermissionRelationshipMapper">
  <resultMap id="templateRolePermissionRelationshipMap" type="com.haihua.hhplms.ana.entity.TemplateRolePermissionRelationship">
    <id column="sid" property="sid" />
    <result column="template_role_sid" property="templateRoleSid" />
    <result column="permission_sid" property="permissionSid" />
    <result column="created_by" property="createdBy" />
    <result column="created_time" property="createdTime" />
    <result column="updated_by" property="updatedBy" />
    <result column="updated_time" property="updatedTime" />
    <result column="version_num" property="versionNum" />
  </resultMap>

  <sql id="columnClause">
    sid, template_role_sid, permission_sid, created_by, created_time, updated_by, updated_time, version_num
  </sql>

  <insert id="create" parameterType="map" statementType="PREPARED" useGeneratedKeys="true" keyProperty="sid">
    insert into ana_template_role_r2_permission
    (template_role_sid, permission_sid, created_by, created_time, version_num)
    values
    (#{templateRoleSid}, #{permissionSid}, #{createdBy}, #{createdTime}, #{versionNum})
  </insert>

  <delete id="deleteByParams" parameterType="map" statementType="PREPARED">
    delete from ana_template_role_r2_permission
    <where>
      <if test="templateRoleSid != null">
        template_role_sid = #{templateRoleSid}
      </if>
      <if test="permissionSid != null">
        and permission_sid = #{permissionSid}
      </if>
      <if test="versionNum != null">
        and version_num = #{versionNum}
      </if>
    </where>
  </delete>

  <select id="findByParams" resultMap="templateRolePermissionRelationshipMap" parameterType="map" statementType="PREPARED">
    select <include refid="columnClause" />
    from ana_template_role_r2_permission
    <where>
      <if test="templateRoleSid != null">
        template_role_sid = #{templateRoleSid}
      </if>
      <if test="permissionSid != null">
        and permission_sid = #{permissionSid}
      </if>
      <if test="searchingTemplateRoleSids != null and searchingTemplateRoleSids.size > 0">
        and template_role_sid in
        (<foreach collection="searchingTemplateRoleSids" item="searchingTemplateRoleSid" separator="," open="" close="">
        #{searchingTemplateRoleSid, jdbcType=BIGINT}
      </foreach>)
      </if>
    </where>
  </select>
</mapper>